{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | strip_html | strip_newlines | jsonify }},
  "image": "{% if page.image %}{{ page.image | absolute_url }}{% endif %}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "Mustafa Volkan Vurulkan"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Mustafa Volkan Vurulkan",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/img/avatar.png' | absolute_url }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>
{% endif %}
